{% extends 'todos/base.html' %}

{% block body %}
  <div class="container mt-5 text-center">
    <h1 style="font-family: 'GmarketSansMedium';">할 일 수정</h1>
    <div class="card mt-5 mx-auto" style="width: 24rem;">
      <div class="card-body">
        <form action="{% url 'todos:update' todo.pk %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-between">
            <a href="{% url 'todos:detail' todo.pk %}" class="btn btn-outline-danger">뒤로가기</a>
            <input type="submit" class="btn btn-outline-primary" value="수정">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}