{% extends 'base.html' %}
{% block style %}{% endblock style %}
{% block body %}
<div class="container">
  <h2 class="text-center">{{ review.title }}</h2>
  <div class="d-flex justify-content-between">
    <div class="fs-6">
      <span onclick="location.href='{% url 'accounts:profile' review.user.pk %}'" style="cursor: pointer;">{{ review.user }}</span><br>
      {{ review.created_at }}
    </div>
    <div>
      댓글 {{ comments.count }}
    </div>
  </div>
  <hr>
  <div class="container fs-3">
    {{ review.content|linebreaks }}
  </div>
  <hr>
  <div class="container">
    <p>댓글</p>
    <hr class="mb-0">
    <table class="table">
      <tbody>
      {% for comment in comments %}
        <tr>
          <td style="width: 10%;">
            <div class="fs-6">
              {{ comment.user }}<br>
              {{ comment.updated_at|date:"Y-m-d" }}
            </div>
          </td>
          <td {% if request.user != comment.user %}colspan="2"{% endif %} class="fs-5 align-middle" style="width: 80%">
          {{ comment.content }}
          </td>
          {% if request.user == comment.user %}
          <td class="align-middle">
            <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-dark" value="삭제">
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <table class="table table-borderless">
      <tr>
        {% if request.user.is_authenticated %}
          <form action="{% url 'reviews:comment_create' review.pk %}" method="POST">
            {% csrf_token %}
            <td style="width: 100%">
              {{ form.content }}
            </td>
            <td>
              <input type="submit" class="btn btn-sm btn-outline-dark" value="등록">
            </td>
          </form>
        {% else %}
          <td class="text-center" colspan="2">댓글을 작성할 권한이 없습니다</td>
        {% endif %}
        </tr>
    </table>
  </div>
  {% if request.user == review.user %}
  <div class="d-flex justify-content-between">
    <div>
      <a href="{% url 'reviews:index' %}" class="btn btn-sm btn-outline-dark me-2">목록</a>
      <a href="{% url 'reviews:create' %}" class="btn btn-sm btn-outline-danger">글쓰기</a>
    </div>
    <div class="d-flex">
      <a href="{% url 'reviews:update' review.pk %}" class="btn btn-sm btn-outline-dark me-2">수정</a>
      <form action="{% url 'reviews:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <button type="sumbit" class="btn btn-sm btn-outline-danger">삭제</button>
      </form>
    </div>
  </div>
  {% else %}
  <div class="text-start">
    <a href="{% url 'reviews:index' %}" class="btn btn-sm btn-outline-dark me-2">목록</a>
    <a href="{% url 'reviews:create' %}" class="btn btn-sm btn-outline-danger">글쓰기</a>
  </div>
  {% endif %}
</div>
{% endblock body %}
{% block script %}
const comment_content = document.getElementById('id_content')
comment_content.style.width = '100%'
{% endblock script %}