{% extends 'todos/base.html' %}

{% block body %}
  <div class="container text-center mt-5">
    <h1 class="mb-5">To-Do List</h1>
    <table class="table table-hover table-light">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">제목</th>
          <th scope="col" class="text-center">내용</th>
          <th scope="col" class="text-center">완료 여부</th>
          <th scope="col" class="text-center">우선순위</th>
          <th scope="col" class="text-center">생성일자</th>
          <th scope="col" class="text-center">마감일</th>
        </tr>
      </thead>
      <tbody>
        {% for element in todos %}
          <tr>
            <th scope="row" class="text-center">{{ element.pk }}</th>
            <td><a href="{% url 'todos:detail' element.pk %}" class="link-dark link-underline link-underline-opacity-0">{{ element.title }}</a></td>
            {% if element.content == None %}
              <td class="text-center">-</td>
            {% else %}
              <td class="text-truncate">{{ element.content }}</td>
            {% endif %}
            {% if element.completed == True %}
              <td class="text-center">완료</td>
            {% else %}
              <td class="text-center">미완</td>
            {% endif %}
            <td class="text-center">{{ element.priority }}</td>
            <td class="text-center">{{ element.created_at|date:"Y.m.d" }}</td>
            <td class="text-center">{{ element.deadline|date:"Y.m.d"}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <div class="text-end">
      <a href="{% url 'todos:new' %}" class="btn btn-outline-primary">할일 추가</a>
    </div>
  </div>
{% endblock body %}